@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  margin: 0px;
  padding: 0;
}

header,
.hero,
footer {
  padding: 20px;
  background-color: #1f2937;
  color: white;
}

nav a {
  font-size: 12px;
  padding: 0 10px;
  text-decoration: none;
}

nav a {
  color: #e5e7eb;
}

h1,
h2,
h3,
h4,
small {
  font-family: 'Roboto', sans-serif;
}

h3 {
  margin-top: 0px;
}

p,
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  display: flex;
}

.justify-align-center {
  justify-content: center;
  align-items: center;
}

.logo {
  flex: 2;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 0px;
}

.hero-item {
  flex: 1;
}

.hero-img {
  max-width: 400px;
  height: 200px;
}

.hero-btn {
  padding: 5px 20px;
  border: 0px;
  border-radius: 5px;
}

.cta-bg,
.cta-container {
  background-color: #3882f6;
  color: white;
}

.info-section {
  padding: 20px 0;
}

.info-title {
  text-align: center;
}

.info-img {
  max-width: 200px;
  border-radius: 20px;
  margin: 20px 20px 0px;
}

.info-caption {
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 40px 20px;
}

blockquote h4 {
  font-size: 18px;
  text-align: right;
}

blockquote {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 36px;
}

.cta-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 5px;
}

.cta-text {
  flex: 2;
}

.cta-btn {
  padding: 5px 20px;
  border: 2px solid white;
  border-radius: 5px;
}

footer {
  margin-bottom: 0px;
  color: white;
  font-size: 14px;
  text-align: center;
}
